.dropdown-menu {
    background: var(--color-light);
    margin-top: 1rem !important;
    padding: 0;

    .dropdown-item {
        color: var(--color-dark);
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 10px 16px;

        &:hover {
            background-color: rgba(var(--color-medium-rgb), 0.2);
        }
    }
}

